@import '_variable';


nav {
  height: 120px;
  width: 100%;
  background-color: $primary-color;
  color: $second-color;
  display: $display;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  span {
    font-family: 'Bungee', cursive;
    margin: 2.5rem;
  }
  .new-tweet-btn{
    margin: 2.5rem;
    span.down-btn {
      display: block;
      margin: 2px 0px;
      text-align: center;
      color: #FF0000;
    }
    &:hover{
      color: $second-color;
      background: $primary-color;
      border-radius: 6px;
      padding: 7px 10px;
      cursor: pointer;
    }

  }
  
}
