nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  
}
nav span {
  font-family: 'Bungee', cursive;
  margin: 1.5em;
}
.new-tweet-btn{
  margin: 1.5em;
}
.clearfix {
  overflow: auto;
  height: 120px;
  content: " ";
  clear: both;
}