nav {
  height: 120px;
  width: 100%;
  background-color: #d89d2d;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  
}
nav span {
  font-family: 'Bungee', cursive;
  margin: 2.5rem;
}
.new-tweet-btn{
  margin: 2.5rem;
}
.clearfix {
  overflow: auto;
  height: 120px;
  content: " ";
  clear: both;
}

section.new-tweet {
  display: none;
}
.new-tweet-btn:hover {
  color: #ffffff;
  background: #d89d2d;
  border-radius: 6px;
  padding: 7px 10px;
  cursor: pointer;
}
span.down-btn {
  display: block;
  margin: 2px 0px;
  text-align: center;
  color: #FF0000;
}